* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1 {
    color: aliceblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.item {
    background-color: rgb(75, 219, 224);
    border: 5px solid rgb(178, 12, 23);
    margin: 0 10px 10px 10px;
}

.title {
    width: 20%;
    text-align: center;
    float: right;
    color: white;
    background-color: rgb(1, 43, 80);
    border: 2px solid rgb(45, 20, 184);
    padding: 5px;
}

p {
    padding: 10px;
    clear: right;
}



@media (min-width : 992px)  {
    .item{
        margin: 5px;
        width: 32.30%;
        float: left;
    }
}


@media (min-width : 768px) and (max-width : 991px) {
    #chicken{
        width: 46.8%;
        float: left;
    }

    #mutton{
        width: 46.8%;
        float: right;
    }

    #sushi{
        clear: both;
    }
}